@import url(https://fonts.googleapis.com/css?family=Averia+Libre:300,700italic);
@import url(http://fonts.googleapis.com/css?family=Philosopher:400,700);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

body {
	box-sizing: border-box;
	background: #CEFFD3;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin: 0;
	font-size: 16px;
}

header{
	top: 0;
	margin: 0;
	/*background: rgba(252,25,0,0.168);*/
	padding: 0;
	height: 9em;
	width: 100%;
}


h1{
	font-family: 'Averia Libre', cursive;
	/*font-family: "Courier New", monospace;*/
	color: #173811;
	font-size: 550%;
	letter-spacing: .3em;
	padding: 0;
	text-align: center;
	font-style: italic;
	margin: 4.2% auto 1.1%;

}

nav{
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	/*background: rgb(255,0,0);*/
	width: 100%;
}

ul{
	margin: 0;
	padding: 0;
}

h3 {
	font-family: 'Averia Libre', cursive;
	font-style: italic;
	font-size: 1.4em;
	float: right;
	margin: 0 5% 0;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	/*background: #F1925A;*/
	height: 1.6em;
	width: 100%;
}

/*.book{
  background-color: blue;
  height: 80%;
  width: 40%;
  position: absolute;
  top: 0;
  left: 5%;
}*/

#book{
	width: 18%;
	margin: 0;
	bottom: 0;
	left: 0;
	float: left;
	margin: 5% 10% 10%;
}

#book img {
	width: 100%;
}

#about{
		background: #6DACD8;
	}

#excerpt{
		background: #72CFDB;
	}

#author{
		background: #84A55E;
	}

#contact{
		background: #CAD86C;
	}


#slogan{
	font-family: 'Quattrocento Sans', sans-serif;
	color: #173811;
	text-align: center;
	font-size: 2em;
	/*float: right;*/
	margin: 0 auto;

}

#main{
	/*font-family: 'Roboto', sans-serif;*/
	/*background: rgba(255,0,0,0.5);*/
	color: #173811;
	font-size: 1.4em;
	width: 45%;
	text-align: left;
	float: right;
	margin: 3.2% 9% 0 0;
	}

#list{
	font-size: .8em;
	line-height: .1.8em;
}

#menu li, #menu li a{
	font-family: 'Alegreya', serif;
	font-size: 1.1em;
	text-align: center;
	color: #173811;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#menu li{
	width: 25%;
}

#menu li a{
	width: 100%;
}

#footer {
	font-family: 'Alegreya', serif;
	text-align: center;
	color: #173811;
}

a:link {
	text-decoration: none;
	color: #173811;
}

a:visited {}


nav a:hover {
	background-color: #F1D49D;
}

a:active {}

/*------Media Queries--------------------*/



@media only screen and (max-width: 1040px){
	h1{
		font-size: 500%;
		letter-spacing: .3em;
	}

	#slogan{
		font-size: 1.6em;
		margin: 0 auto;
	}

	/*#main {
		width: 70%;
	}*/
}

@media only screen and (max-width: 768px){

	h1{
		font-size: 480%;
		letter-spacing: .12em;
		margin: 10% auto 0;

	}

	h1, span{
		display: block;
	}

	#slogan{
		font-size: 1.2em;
		margin: 0 auto 10%;
	}

	#book{
		width: 60%;
		margin: 24% auto;
		float: none;
	}

	#main {
		float: none;
		width: auto;
		margin: 1% 10% 0;
	}

	#footer {
		display: none;
	}
}
