body {
	background-color: #CAC7FF;
	background:url("images/cover_flags.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin: 0;
	

}

h1{
	color: #000;
	font-family: "Courier New", monospace;
	font-size: 48px;
	text-align: right;
	font-style: itallic;
	font-weight: 300px;

}

#slogan{
	font-family: "Courier New", monospace;
	text-align: left;
	text-decoration: underline;
	font-size: 28px;

}

#intro{
	background: #fff;
	padding: 60px;
	
}