body {
	background-color: #CAC7FF;
	background-image: url("../images/cover_flags.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	

}

h1{
	color: #000;
	font-family: "Courier New", monospace;
	font-size: 48px;
	text-align: right;
	font-style: itallic;
	font-weight: 500px;

}

#slogan{
	font-family: "Courier New", monospace;
	text-align: left;
	font-size: 28px;

}